header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 38px 24px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}

nav {
  display: none;
}

.navegacao-menu {
  margin: 24px 0 0 0;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 99%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

.list-link {
  text-decoration: none;
  font-weight: var(--menu-weigh);
}

.list-link li {
  margin: 16px;
}

.list-link li a {
  list-style: none;
  color: var(--text-secondary-color);
  text-decoration: none;
}
